.bgc-gray{background-color:#f8f8f8;}
.bgc-white{background-color:#fff;}
.btm-border{border-bottom:solid 1px #eee;margin-bottom:20px;}
.formsize{font-size:20px;font-weight:bold;margin:10px 0px 5px 0px; }
.textright{text-align:right;}
.bold{font-weight:bold;}
.btn-bgw{background-color:#fff;border-color:#ccc}
.btn-bgw:hover{background-color:#eee;}
.textdown{padding:5px 0px 0px 0px;}
.zeropadding{padding:0;}
